@font-face {
  font-family: 'Arial';
  src: url('./../../assets/fonts/arial/Arial-ItalicMT.woff2') format('woff2'),
    url('./../../assets/fonts/arial/Arial-ItalicMT.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Arial';
  src: url('./../../assets/fonts/arial/ArialMT.woff2') format('woff2'),
    url('./../../assets/fonts/arial/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('./../../assets/fonts/georgia/Georgia-Italic.woff2') format('woff2'),
    url('./../../assets/fonts/georgia/Georgia-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: url('./../../assets/fonts/georgia/Georgia.woff2') format('woff2'),
    url('./../../assets/fonts/georgia/Georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
  --color-light-l: #F6F6F6;
  --color-light-s: #FAFAFA;
  --color-light-xl: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

/* BODY ----------------------------------------------------------------------------------------*/

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Georgia';
  font-size: 0.938rem;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

/* HEADER ----------------------------------------------------------------------------------------*/

.header-top {
  height: 119px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo__title a{
  padding-top: 2px;
  color: var(--color-dark-l);
  font-family: 'Georgia';
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 2.03rem;
}

.header-logo__subtitle {
  color: var(--color-dark-3xl);
  font-family: 'Arial';
  font-size: 0.813rem;
  line-height: 0.94rem;
  letter-spacing: 0.1em;
  margin-top: 11px;
  margin-left: 2px;
}

/* NAVIGATE ----------------------------------------------------------------------------------------*/

.nav-list {
  display: flex;
}

.nav-list__item {
  margin-top: -5px;
  font-family: 'Arial';
  margin-left: 36px;
}

.nav-list__item:first-child {
  margin-left: 0;
}

.nav-list__item a {
  padding: 8px 0 4px;
  cursor: pointer;
  color: var(--color-dark-l);
}

.nav-list__item a:hover {
  color: var(--color-dark-3xl);
}
.nav-list__item a:active {
  color: var(--color-dark-3xl);
  border-bottom: 3px solid var(--color-primary);
}

.nav-list__item_active a {
  cursor: default;
  color: var(--color-dark-3xl);
  border-bottom: 3px solid var(--color-primary);
}
.nav-list__item_active a:hover{
  color: var(--color-dark-l);
}

/* MAIN ----------------------------------------------------------------------------------------*/

.main {
  flex: 1 1 auto;
}

/* OUR FRIENDS ----------------------------------------------------------------------------------------*/

.our-friends {
  background: var(--color-light-l);
  padding-bottom: 100px;
}

.our-friends__title {
  padding-top: 81px;
  padding-left: 2px;
  text-align: center;
}

.our-friends-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 59px;
  row-gap: 30px;
}

.our-friends-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 270px;
  height: 435px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  cursor: pointer;
}

.our-friends-item:hover {
  background-color: var(--color-light-xl);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our-friends-item:hover .our-friends-btn {
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

.our-friends-item__img{
  border-radius: 9px 9px 0px 0px;
}

.our-friends-item__name {
  margin: 30px 0 30px 0;
  font-size: 1.25rem;
  line-height: 1.4rem;
  letter-spacing: 0.08rem;
  color: var(--color-dark-l);
}

.our-friends-btn {
  width: 187px;
  height: 52px;
  font-size: 1.063rem;
  line-height: 1.4rem;
  background-color: var(--color-light-s);
  border-radius: 6.25rem;
  letter-spacing: 0.06em;
  border: 2px solid var(--color-primary);
  color: #292929;
  transition: all 0.5s ease;
}

/* PAGINATION ----------------------------------------------------------------------------------------*/
.pagination-list {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 60px;
}
.pagination__item {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.45rem;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination__item._unactive{
  color: var(--color-dark-s);
  border: 2px solid var(--color-dark-s);
}
.pagination__item._unactive:hover{
  cursor: default;
}
.pagination__item._active:hover{
  cursor: pointer;
}
.pagination__item._current{
  background-color: var(--color-primary);
}
.pagination__item._active{
  color: var(--color-dark-3xl);
  border: 2px solid var(--color-primary);
}
.pagination__item._active:hover{
  background-color: var(--color-primary);
}
.pagination-number span{
  position: absolute;
  top: 11px;
  left: 19px;
}
.pagination-next__double span,
.pagination-prev__double span{
  position: absolute;
  top: 11px;
  left: 11px;
}
.pagination-next span,
.pagination-prev span{
  position: absolute;
  top: 11px;
  left: 17px;
}


/* FOOTER ----------------------------------------------------------------------------------------*/

.footer {
  background: url('./../../assets/image/mainPage/noise_transparent@2x.png'), radial-gradient(110.57% 538.64% at 10.73% 50%, #513D2F 0%, #1A1A1C 60%), #211F20;
}

.title {
  font-size: 2.188rem;
  line-height: 2.8rem;
  letter-spacing: 0.13rem;
  color: #545454;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer-connect {
  padding-top: 17px;
}

.footer-connect__title {
  max-width: 278px;
  color: var(--color-light-xl);
}

.footer-connect-list {
  margin-top: 45px;
}

.footer-connect__item {
  margin-bottom: 48px;
}

.footer-connect__item:last-child {
  margin-bottom: 0px;
}

.footer-item__link {
  font-size: 1.25rem;
  line-height: 1.438rem;
  letter-spacing: 0.08rem;
  color: var(--color-primary);
}

.item__email a,
.item__phone a {
  position: relative;
  padding-left: 60px;
  margin-bottom: 45px;
}

.item__email a::before,
.item__phone a::before {
  content: "";
  position: absolute;
  width: 40px;
}

.item__email a::before {
  top: -3px;
  left: 0;
  background-image: url("./../../assets/image/mainPage/mail.svg");
  height: 26px;
}

.item__phone a::before {
  top: -5px;
  left: 0;
  background-image: url("./../../assets/image/mainPage/phone.svg");
  height: 32px;
}

.footer-adress {
  padding-left: 4px;
  padding-top: 17px;
}

.footer-adress__title {
  color: var(--color-light-xl);
  max-width: 270px;
}

.footer-adress-list {
  margin-top: 34px;
}

.footer-adress-list li {
  margin-bottom: 36px;
}

.footer-adress-list li:last-child {
  margin-bottom: 0px;
}

.footer-adress__item a {
  position: relative;
}

.footer-adress__item a span {
  display: inline-block;
  max-width: 302px;
  padding-left: 40px;
}

.item__location1 a::before,
.item__location2 a::before {
  content: "";
  position: absolute;
  background-image: url("./../../assets/image/mainPage/pin.svg");
  width: 22px;
  height: 32px;
}

.item__location1 a::before {
  top: -18px;
  left: -2px;
}

.item__location2 a::before {
  top: -5px;
  left: -2px;
}
