@font-face {
  font-family: 'Arial';
  src: url('./../../assets/fonts/arial/Arial-ItalicMT.woff2') format('woff2'),
    url('./../../assets/fonts/arial/Arial-ItalicMT.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Arial';
  src: url('./../../assets/fonts/arial/ArialMT.woff2') format('woff2'),
    url('./../../assets/fonts/arial/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('./../../assets/fonts/georgia/Georgia-Italic.woff2') format('woff2'),
    url('./../../assets/fonts/georgia/Georgia-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: url('./../../assets/fonts/georgia/Georgia.woff2') format('woff2'),
    url('./../../assets/fonts/georgia/Georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
  --color-light-l: #F6F6F6;
  --color-light-s: #FAFAFA;
  --color-light-xl: #FFFFFF;
  --color-total-black: #000000;
}

html {
  scroll-behavior: smooth;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 10px;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* BODY ----------------------------------------------------------------------------------------*/

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Georgia';
  font-size: 1.5rem;
}

._lock {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

/* HEADER ----------------------------------------------------------------------------------------*/

.header {
  padding-bottom: 3px;
}

.header-top {
  height: 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo__title a {
  padding-top: 2px;
  color: var(--color-dark-l);
  font-family: 'Georgia';
  font-size: 3.2rem;
  letter-spacing: 0.06em;
  line-height: 110%;
}

.header-logo__subtitle {
  color: var(--color-dark-3xl);
  font-family: 'Arial';
  font-size: 1.3rem;
  line-height: 0.94rem;
  letter-spacing: 0.1em;
  margin-top: 11px;
  margin-left: 2px;
}

/*  HAMBURGER --------------------------------------------------------------------- */

.hamburger {
  display: none;
  position: absolute;
  top: 47px;
  right: 20px;
  width: 30px;
  height: 22px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.hamburger__line,
.hamburger::before,
.hamburger::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-total-black);
}

.hamburger__line {
  top: calc(50% - 1px);
  left: 0;
}

.hamburger::before {
  top: 0;
  left: 0;
}

.hamburger::after {
  bottom: 0;
  left: 0;
}

/* NAVIGATE ----------------------------------------------------------------------------------------*/

.nav-list {
  display: flex;
}

.nav-list__item {
  margin-top: -5px;
  font-family: 'Arial';
  margin-left: 36px;
}

.nav-list__item:first-child {
  margin-left: 0;
}

.nav-list__item a {
  padding: 8px 0 4px;
  cursor: pointer;
  color: var(--color-dark-l);
}

.nav-list__item a:hover {
  color: var(--color-dark-3xl);
}

.nav-list__item a:active {
  color: var(--color-dark-3xl);
  border-bottom: 3px solid var(--color-primary);
}

.nav-list__item_active a {
  cursor: default;
  color: var(--color-dark-3xl);
  border-bottom: 3px solid var(--color-primary);
}

.nav-list__item_active a:hover {
  color: var(--color-dark-l);
}

/* MAIN ----------------------------------------------------------------------------------------*/

.main {
  flex: 1 1 auto;
}

/* POP_UP ----------------------------------------------------------------------------------------*/
.pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  cursor: pointer;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.pop-up.visible .pop-up_pet {
  opacity: 1;
  transform: translate(0px, 0%);
}

.pop-up_pet {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 900px;
  height: 500px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  cursor: default;
  opacity: 0;
  transition: all 0.5s ease 0s;
  transform: translate(0px, -100%);
}

.pet_btnClose {
  position: absolute;
  top: -10%;
  right: -6%;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  background-color: transparent;
  border-radius: 50%;
}

.pet_btnClose:hover {
  background-color: var(--color-primary);
  transition: 0.3s ease;
  ;
}

.pet_btnClose::before,
.pet_btnClose::after {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 1px);
  width: 2px;
  height: 20px;
  border-radius: 3px;
  background-color: var(--color-dark-3xl);
}

.pet_btnClose::before {
  transform: rotate(45deg);
}

.pet_btnClose::after {
  transform: rotate(-45deg);
}

.pet_img {
  max-width: 500px;
  max-height: 500px;
}

.pet_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px 0px 0px 9px;
}

.pet_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 20px 90px 20px;
  max-width: 400px;
  letter-spacing: 0.06em;
}

.content_name {
  font-size: 3.5rem;
  line-height: 130%;
  margin-bottom: 10px;
}

.content_aboutPet {
  font-size: 2rem;
  line-height: 1.4rem;
}

.content_description {
  font-size: 1.5rem;
  line-height: 110%;
}

.content_item {
  position: relative;
  font-weight: bold;
  margin-bottom: 11px;
  padding-left: 14px;
}

.content_item::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.content_item:last-child {
  margin-bottom: 0px;
}

.item_description {
  font-weight: normal;
}

/* OUR FRIENDS ----------------------------------------------------------------------------------------*/

.title {
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.our-friends {
  background: var(--color-light-l);
  padding-bottom: 99px;
}

.our-friends__title {
  padding-top: 81px;
  padding-left: 2px;
  text-align: center;
}

.card__group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 59px;
  row-gap: 30px;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 435px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  padding-bottom: 30px;
}

.card-item:hover {
  cursor: pointer;
  background-color: var(--color-light-xl);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card-item__img {
  overflow: hidden;
  width: 270px;
  height: 270px;
}

.card-item__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-item__name {
  font-size: 2rem;
  line-height: 1.4rem;
  letter-spacing: 0.08rem;
  color: var(--color-dark-l);
}

.card-item__button {
  width: 70%;
  height: 12%;
  font-size: 1.7rem;
  line-height: 130%;
  background-color: var(--color-light-s);
  border-radius: 10rem;
  letter-spacing: 0.06em;
  border: 2px solid var(--color-primary);
  color: #292929;
  /* transition: all 0.5s ease; */
}

.card-item__button:hover {
  background: var(--color-primary)
}


/* PAGINATION ----------------------------------------------------------------------------------------*/
.pagination-list {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 60px;
}

.pagination__item {
  position: relative;
  font-size: 2rem;
  line-height: 115%;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination__item._unactive {
  color: var(--color-dark-s);
  border: 2px solid var(--color-dark-s);
}

.pagination__item._unactive:hover {
  cursor: default;
}

.pagination__item._active:hover {
  cursor: pointer;
}

.pagination__item._current {
  background-color: var(--color-primary);
}

.pagination__item._active {
  color: var(--color-dark-3xl);
  border: 2px solid var(--color-primary);
}

.pagination__item._active:hover {
  background-color: var(--color-primary);
}

.pagination-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pagination-next__double span,
.pagination-prev__double span {
  position: absolute;
  top: 11px;
  left: 11px;
}

.pagination-next span,
.pagination-prev span {
  position: absolute;
  top: 11px;
  left: 17px;
}


/* FOOTER ----------------------------------------------------------------------------------------*/

.footer {
  background: url('./../../assets/image/mainPage/noise_transparent@2x.png'), radial-gradient(110.57% 538.64% at 10.73% 50%, #513D2F 0%, #1A1A1C 60%), #211F20;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer-connect {
  padding-top: 17px;
}

.footer-connect__title {
  max-width: 280px;
  color: var(--color-light-xl);
}

.footer-connect-list {
  margin-top: 45px;
}

.footer-connect__item {
  margin-bottom: 48px;
}

.footer-connect__item:last-child {
  margin-bottom: 0px;
}

.footer-item__link {
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.item__email a,
.item__phone a {
  position: relative;
  padding-left: 60px;
  margin-bottom: 45px;
}

.item__email a::before,
.item__phone a::before {
  content: "";
  position: absolute;
  width: 40px;
}

.item__email a::before {
  top: -3px;
  left: 0;
  background-image: url("./../../assets/image/mainPage/mail.svg");
  height: 26px;
}

.item__phone a::before {
  top: -5px;
  left: 0;
  background-image: url("./../../assets/image/mainPage/phone.svg");
  height: 32px;
}

.footer-adress {
  padding-top: 17px;
}

.footer-adress__title {
  color: var(--color-light-xl);
  max-width: 270px;
}

.footer-adress-list {
  margin-top: 31px;
}

.footer-adress-list li {
  margin-bottom: 38px;
}

.footer-adress-list li:last-child {
  margin-bottom: 0px;
}

.footer-adress__item a {
  position: relative;
}

.footer-adress__item a span {
  display: inline-block;
  max-width: 302px;
  padding-left: 40px;
}

.item__location1 a::before,
.item__location2 a::before {
  content: "";
  position: absolute;
  background-image: url("./../../assets/image/mainPage/pin.svg");
  width: 22px;
  height: 32px;
}

.item__location1 a::before {
  top: -16px;
  left: -2px;
}

.item__location2 a::before {
  top: -5px;
  left: -2px;
}

.footer-img {
  max-width: 300px;
  max-height: 310px;
}

.footer-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



@media only screen and (max-width: 1260px) {

  .our-friends-listActive {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1000px;
  }

  .our-friends-item:last-child,
  .our-friends-item:nth-last-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 1220px) {
  .card__group {
    margin: 0 auto;
    margin-top: 59px;
    max-width: 930px;
  }
}

@media only screen and (max-width: 930px) {
  .card__group {
    max-width: 580px;
  }
}

@media only screen and (max-width: 1114px) {

  .pop-up_pet {
    max-width: 630px;
    max-height: 350px;
  }

  .pet_btnClose {
    top: -13%;
    right: -7%;
    width: 45px;
    height: 45px;
  }

  .pet_content {
    max-width: 260px;
    padding: 10px 20px 20px 0;
  }

  .pet_img {
    max-width: 350px;
    max-height: 350px;
  }
}

@media only screen and (max-width: 1000px) {

  .our-friends-listActive {
    max-width: 730px;
  }

  .footer-row {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 9%;
    row-gap: 69px;
    padding: 0;
    max-width: 708px;
    margin-top: 13px;
  }

}

@media only screen and (max-width: 768px) {

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .our-friends {
    padding-bottom: 76px;
  }

  .our-friends-listActive {
    max-width: 580px;
  }

  .pagination-list {
    margin-top: 38px;
  }

}

@media only screen and (max-width: 767px) {

  .body._lock {
    overflow: hidden;
  }

  .hamburger {
    display: block;
    z-index: 10;
    transition: all 0.5s ease 0s;
  }

  .hamburger._active {
    transform: rotate(90deg);
  }

  .header-menu._lock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    transition: all 0.5s ease 0s;
  }

  .navigate {
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.5s ease 0s;
  }

  .navigate._active {
    right: 0;
  }

  .nav-list {
    width: 320px;
    height: 100%;
    background-color: var(--color-light-xl);
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .nav-list__item {
    margin-top: 0;
    margin-left: 0;
    font-size: 3.2rem;
    line-height: 160%;
  }

}

@media only screen and (max-width: 752px) {

  .pop-up_pet {
    max-width: 240px;
    justify-content: center;
  }

  .pet_btnClose {
    top: -13%;
    right: -16%;
    width: 45px;
    height: 45px;
  }

  .pet_img {
    display: none;
  }

  .pet_content {
    padding: 10px;
  }
}

@media only screen and (max-width: 630px) {

  .card__group {
    max-width: 270px;
  }
}

@media only screen and (max-width: 600px) {

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-top {
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .title {
    font-size: 2.5rem;
  }

  .our-friends {
    padding-bottom: 42px;
  }

  .our-friends__title {
    padding-top: 41px;
  }

  .our-friends-listActive {
    justify-content: center;
    margin-top: 42px;
  }

  .pagination-list {
    column-gap: 10px;
    margin-top: 42px;
  }

  .footer-row {
    row-gap: 27px;
  }

  .footer-adress__title {
    margin: 0 auto;
  }

  .footer-connect {
    text-align: center;
  }

  .footer-adress {
    text-align: center;
  }

  .footer-adress-list {
    margin-top: 39px;
  }

  .footer-adress-list li {
    margin-bottom: 44px;
  }

  .item__location1 a::before {
    left: 0px;
  }

  .footer-img {
    max-width: 260px;
    max-height: 269px;
    margin-top: 18px;
  }

  .footer-adress__item a span {
    text-align: left;
    padding-left: 42px;
  }

  .item__location2 a span {
    display: inline-block;
    padding-left: 10px;
  }

  .item__location2 a::before {
    top: -4px;
    left: -31px;
  }

}