@font-face {
  font-family: 'Arial';
  src: url('./../fonts/arial/Arial-ItalicMT.woff2') format('woff2'),
    url('./../fonts/arial/Arial-ItalicMT.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Arial';
  src: url('./../fonts/arial/ArialMT.woff2') format('woff2'),
    url('./../fonts/arial/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('./../fonts/georgia/Georgia-Italic.woff2') format('woff2'),
    url('./../fonts/georgia/Georgia-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: url('./../fonts/georgia/Georgia.woff2') format('woff2'),
    url('./../fonts/georgia/Georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
  --color-light-l: #F6F6F6;
  --color-light-s: #FAFAFA;
  --color-light-xl: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

/* BODY ----------------------------------------------------------------------------------------*/

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Georgia';
  font-size: 0.938rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* HEADER ----------------------------------------------------------------------------------------*/

.header {
  background: url('./../image/mainPage/noise_transparent@2x.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 15%, #262425 70%);

}

.header-top {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo__title {
  color: var(--color-primary);
  font-size: 2rem;
  letter-spacing: 0.06em;
}

.header-logo__subtitle {
  color: var(--color-light-xl);
  font-family: 'Arial';
  font-size: 0.813rem;
  line-height: 0.94rem;
  letter-spacing: 0.1em;
  margin-top: 11px;
  margin-left: 2px;
}

/* NAVIGATE ----------------------------------------------------------------------------------------*/

.nav-list {
  display: flex;
}

.nav-list__item {
  margin-top: -8px;
  font-family: 'Arial';
  margin-left: 36px;
}
.nav-list__item:first-child {
  margin-left: 0;
}

.nav-list__item a{
  padding: 8px 0 4px;
  cursor: pointer;
  color: var(--color-dark-s);
  transition: all 0.1s ease;
}

.nav-list__item a:hover{
  color: var(--color-light-s);
}
.nav-list__item a:active{
  color: var(--color-light-s);
  border-bottom: 3px solid var(--color-primary);
}

.nav-list__item_active a{
  cursor: default;
  color: var(--color-light-s);
  border-bottom: 3px solid var(--color-primary);
}

/* NOT ONLY --------------------------------------------------------------------- */

.header-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0 40px;
}

.not-only__column {
  margin-top: 164px;
}

.not-only__title {
  max-width: 310px;
  font-size: 2.75rem;
  line-height: 3.5rem;
  color: var(--color-light-xl);
}

.not-only__info {
  margin-top: 43px;
  max-width: 460px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 1.5rem;
  color: var(--color-dark-s);
}

.not-only__bnt {
  margin-top: 42px;
  width: 207px;
  height: 52px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  border-radius: 6.25rem;
  font-size: 1.063rem;
  line-height: 1.25rem;
  letter-spacing: 0.06rem;
  color: var(--color-dark-3xl);
  transition: all 0.5s ease;
}

.btn:hover{
  background: var(--color-primary-light);
}


.not-only__img {
  width: 58.2%;
  height: 100%;
}

/* MAIN ----------------------------------------------------------------------------------------*/

.main {
  flex: 1 1 auto;
}

/* ABOUT ----------------------------------------------------------------------------------------*/

.about-row{
  display: flex;
  justify-content: space-between;
  padding: 80px 215px 100px;
}

.about__img {
  height: 100%;
}

.about__title {
  margin-top: 15px;
  max-width: 370px;
}

.title {
  font-size: 2.188rem;
  line-height: 2.8rem;
  letter-spacing: 0.13rem;
  color: #545454;
}

.about__description {
  margin-top: 24px;
  max-width: 430px;
  font-family: 'Arial';
  line-height: 1.5rem;
  margin-bottom: 25px;
  color: var(--color-dark-xl);
}

.about__description:last-child {
  margin-bottom: 0;
}

/* OUR-FRIENDS ----------------------------------------------------------------------------------------*/

.our-friends {
  background-color: var(--color-light-l);
  padding-bottom: 100px;
}

.our-friends-row {
  position: relative;
}

.our-friends__title {
  text-align: center;
  max-width: 404px;
  margin: 0 auto;
  padding-top: 81px;
  padding-left: 2px;
}

.slider-icon {
  position: absolute;
  top: 54.3%;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background-color: transparent;
  width: 52px;
  height: 52px;
  transition: all 0.3s ease;
}

.slider-icon:hover {
  border: 2px solid var(--color-primary-light);;
  background-color: var(--color-primary-light);
}

.slide-prev::before,
.slide-next::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 17px;
  width: 14px;
  height: 6px;
  background-image: url("./../image/mainPage/Arrow.svg");
}

.slide-prev::before{
  transform: rotate(180deg);
}

.slide-prev {
  left: 40px;
}

.slide-next {
  right: 40px;
}

.our-friends-list {
  display: flex;
  justify-content: space-between;
  padding: 0 145px;
  margin-top: 60px;
}

.our-friends-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 270px;
  height: 435px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  cursor: pointer;
}

.our-friends-item:hover{
  background-color: var(--color-light-xl);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our-friends-item:hover .our-friends-btn {
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

.our-friends-item__name {
  margin: 30px 0 31px 0;
  font-size: 1.25rem;
  line-height: 1.4rem;
  letter-spacing: 0.08rem;
  color: var(--color-dark-l);
}

.our-friends-btn {
  width: 187px;
  height: 52px;
  font-size: 1.063rem;
  line-height: 1.4rem;
  background-color: var(--color-light-s);
  border-radius: 6.25rem;
  letter-spacing: 0.06em;
  border: 2px solid var(--color-primary);
  color: #292929;
  transition: all 0.5s ease;
}

.our-friends__more {
  width: 261px;
  height: 52px;
  padding-left: 1px;
  margin: 59px auto 0;
}

/* HELP ----------------------------------------------------------------------------------------*/

.help {
  padding: 82px 0 98px;
}
.help-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__title {
  padding-left: 3px;
  text-align: center;
}

.help-list {
  margin-top: 60px;
  max-width: 1032px;
  height: 281px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 55px;
  column-gap: 120px;
}

.help-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-item__subtitle {
  margin-top: 31px;
  font-size: 1.25rem;
  line-height: 1.15rem;
  letter-spacing: 0.06em;
}

.help-list__item:nth-child(1) .help-item__subtitle {
  padding-left: 2px;
}
.help-list__item:nth-child(4) .help-item__subtitle {
  margin-left: -1px;
  margin-top: 33px;
}
.help-list__item:nth-child(5) .help-item__subtitle {
  margin-left: -1px;
}
.help-list__item:nth-child(6) .help-item__subtitle {
  padding-left: 2px;
  margin-top: 36px;
}
.help-list__item:nth-child(8) .help-item__subtitle {
  padding-left: 0px;
  margin-top: 38px;
}

/* IN-ADDITION ----------------------------------------------------------------------------------------*/

.in-addition {
  background-color: #F6F6F6;
}

.in-addition-row{
  display: flex;
  justify-content: space-between;
  padding: 81px 182px 101px;
}

.in-addition__img {
  width: 505px;
  height: 261px;
  margin-top: 10px;
}

.in-addition__info {
  max-width: 380px;
  color: var(--color-dark-l);
}

.in-addition__title {
  max-width: 300px;
  line-height: 2.81rem;
  margin-bottom: 20px;
}

.in-addition__bank {
  line-height: 1.04rem;
  letter-spacing: 0.057rem;
  margin-bottom: 19px;
}

.in-addition__account {
  position: relative;
  display: inline-block;
  padding: 10px 15px 10px 60px;
  background-color: var(--color-primary);
  font-size: 1.25rem;
  line-height: 1.45rem;
  letter-spacing: 0.075rem;
  border-radius: 0.563rem;
  margin-bottom: 20px;
}

.in-addition__account::before{
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 30px;
  height: 23px;
  background-image: url("./../image/mainPage/credit-card.svg");
}

.in-addition__description {
  color: var(--color-dark-m);
  font-family: 'Arial';
  font-style: italic;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

/* FOOTER ----------------------------------------------------------------------------------------*/

.footer {
  background: url('./../image/mainPage/noise_transparent@2x.png'), radial-gradient(110.57% 538.64% at 10.73% 50%, #513D2F 0%, #1A1A1C 60%), #211F20;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
}

.footer-connect {
  padding-top: 17px;
}

.footer-connect__title{
  max-width: 278px;
  color: var(--color-light-xl);
}

.footer-connect-list{
  margin-top: 45px;
}
.footer-connect__item{
  margin-bottom: 48px;
}
.footer-connect__item:last-child{
  margin-bottom: 0px;
}
.footer-item__link{
  font-size: 1.25rem;
  line-height: 115%;
  line-height: 1.438rem;
  letter-spacing: 0.08rem;
  color: var(--color-primary);
}
.item__email a,
.item__phone a{
  position: relative;
  padding-left: 60px;
  margin-bottom: 45px;
}

.item__email a::before,
.item__phone a::before {
  content: "";
  position: absolute;
  width: 40px;
}

.item__email a::before{
  top: -3px;
  left: 0;
  background-image: url("./../image/mainPage/mail.svg");
  height: 26px;
}
.item__phone a::before{
  top: -5px;
  left: 0;
  background-image: url("./../image/mainPage/phone.svg");
  height: 32px;
}

.footer-adress {
  padding-left: 4px;
  padding-top: 17px;
}

.footer-adress__title{
  color: var(--color-light-xl);
  max-width: 270px;
}

.footer-adress-list{
  margin-top: 34px;
}

.footer-adress-list li {
  margin-bottom: 36px;
}

.footer-adress-list li:last-child {
  margin-bottom: 0px;
}

.footer-adress__item a{
  position: relative;
}

.footer-adress__item a span{
  display: inline-block;
  max-width: 302px;
  padding-left: 40px;
}

.item__location1 a::before,
.item__location2 a::before {
  content: "";
  position: absolute;
  background-image: url("./../image/mainPage/pin.svg");
  width: 22px;
  height: 32px;
}

.item__location1 a::before{
  top: -18px;
  left: -2px;
}
.item__location2 a::before{
  top: -5px;
  left: -2px;
}

